@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Barrio&display=swap');

body {
    padding: 40px;
    background-color: #caf0f8;
    font-family: "Amatic SC", sans-serif;
}

main {
    overflow: auto;
    margin: 0 auto;
}  

h1 {
    text-align: center;
    font-weight: 1000;
    font-style: normal;
    font-size: 75px;
}

h3 {
    margin-top: 50px;
    font-size: 50px;
    font-weight: 800;
}

p{
    font-weight: 750;
    font-size: 30px;
}

.menu
button {
    padding: 12px 20px;
    width: 250px;
    font-size: 16px;

    background-color: #00b4d8;

    font-family: "Amatic SC", sans-serif;
    font-weight: 750;
    font-size: 40px;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

button:hover {
    size: 105%;
}

header {
    display: flex;
}

.menu {
    margin: 100px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 30px;
}

.grid {
    margin: 10px auto 0px auto;
    width: 400px;
    height: 400px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.cell {
    background-color: #00b4d8;
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    display: grid;
    place-items: center;
    font-weight: 1000;
    font-size: 50px;
}

.wrapper {
    display: flex;
    gap: 24px;
}

@media (max-width: 1000px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }
}

.score {
    margin: auto 50px auto 50px;
    font-size: 40px;
    font-weight: 750;
}

.rack {
    padding: 50px 20px;
    border-top: 1px solid #ddd;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #1982c4;
    border-radius: 10px;

}

.tile {
    cursor: grab;
    user-select: none;
    width: 90px;
    height: 90px;
    display: grid;
    place-items: center;
    background-color: khaki;
    border-radius: 4px;
    font-weight: 1000;
    font-size: 50px;
}

.tile:active{
    cursor: grabbing;
    transform: scale(105%);
}

.center {
    display: grid;
    place-items: center;
}

.returnBtn {
    padding: 12px 20px;
    width: 200px;

    background-color: #70d6ff;

    font-family: "Amatic SC", sans-serif;
    font-weight: 750;
    font-size: 30px;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}

#endTurnBtn {
    padding: 12px 20px;
    width: 200px;

    background-color: #70d6ff;

    font-family: "Amatic SC", sans-serif;
    font-weight: 1000;
    font-size: 30px;

    border: none;
    border-radius: 4px;

    cursor: pointer;
}