body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
}

h1 {
    text-align: center;
}

h3 {
    margin-top: 50px;
}

.menu {
    margin: 100px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    gap: 30px;
}

button {
    padding: 12px 20px;
    width: 200px;
    font-size: 16px;

    background-color: aqua;

    border: none;
    border-radius: 4px;

    
    cursor: pointer;
}